{% load static %}
{% load django_bootstrap5%}
<!doctype html>





<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <!-- fontawesome -->
  <link href="{% static 'ryu/css/fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">


  {% block header %}
  {% endblock header %}
  <title>Hello, world!</title>
</head>


{% block customcss %}
{% endblock customcss %}

{% block content %}
{% endblock content %}
<script type="text/javascript" src="{% static 'ryu/js/jquery.js'%}"></script>
<script src="{% static 'ryu/js/app.js'%}"></script>

</script>
</body>

</html>