{% load static %}
{% load django_bootstrap5%}
<!doctype html>





<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <!-- fontawesome -->


  {% block header %}
  {% endblock header %}
  <title>Hello, world!</title>
</head>


{% block customcss %}
{% endblock customcss %}

{% block content %}
{% endblock content %}
</body>

</html>